<!DOCTYPE html>
<html>

{% load staticfiles %}

<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pata gift Kenya</title>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/toastr.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/lightbox.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'custom_css/custom.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'custom_css/awesome-css.css' %}">

    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/main.js' %}"></script>
    <script src="{% static 'bootstrap/js/ajax.js' %}"></script>
    <script src="{% static 'bootstrap/js/toastr.js' %}"></script>
    <script src="{% static 'bootstrap/js/Chart.js' %}"></script>
    <script src="{% static 'bootstrap/js/lightbox.js' %}"></script>




</head>
<body>
{% block header %}
<div class="container-fluid ">
    <div class="container">
    <div class="row">
        <div class="col-sm-8">

        </div>
        <div class="col-sm-4 pull-right">
            {% if user.is_authenticated %}
            <span>{{ user.username }}</span>&nbsp;&nbsp;&nbsp;
            <a  href="/pata_gift/logout/">Logout</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a  href="/pata_gift/create_product/">Sale</a>&nbsp;&nbsp;
            <a  href="#">Search</a>&nbsp;&nbsp;&nbsp;
            {% else %}

            <a  href="{% url 'login' %}">Login</a>&nbsp;&nbsp;&nbsp;
            <a  href="{% url 'register' %}">Register</a>
            {% endif %}
        </div>
    </div>

</div>
    <hr>
    <div class="row header-bg">

            <div class="col-sm-12 row-centered">

            <img class="img img-circle" src="{% static 'images/pata_gift.png' %}"
                 alt="Pata-Gift-Logo" height="50" width="50" />
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="header-font">Pata Gift - Kenya</span>

            </div>

    </div>

</div>
{% endblock %}

<br>
{% block login_signup %}{% endblock login_signup %}
{% block search %}{% endblock search %}
<br>
{% block content %} {% endblock content %}

</body>
</html>