<!DOCTYPE html>
<html>

{% load staticfiles %}

<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate, post-check=0, pre-check=0" />
    <meta http-equiv="Pragma" content="no-cache" />
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/toastr.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'custom_css/custom.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'custom_css/fullcalendar.css' %}">
    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/moment.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/fullcalendar.js' %}"></script>

    <script src="{% static 'bootstrap/js/main.js' %}"></script>
    <!--<script src="{% static 'bootstrap/js/jquery.js' %}"></script>-->
    <!--<script src="{% static 'jquery/jquery.min.js' %}"></script>-->
    <!--<script src="{% static 'jquery/jquery2.js' %}"></script>-->
    <script src="{% static 'bootstrap/js/ajax.js' %}"></script>
    <script src="{% static 'bootstrap/js/toastr.js' %}"></script>

    {% block title %}{% endblock title %}
    <style>
        body { padding-top: 70px; }


    </style>
     <script>
        if ($.browser.mozilla)
    {
        if ($('.datepicker')[0].type != 'date') $('.datepicker').datepicker();
        $(function () {
            $(".datepicker").datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: "1900:2015",
                dateFormat: "yy-mm-dd",
                defaultDate: '1900-01-01'
            });
        });
    }


</script>




</head>
<body>


{% block content %}

{% endblock content %}

</body>
</html>