{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<nav class="navbar navbar-default navbar-fixed-top">
<div class="container">
    <div class="row row-centered">
        <div class="col-xs-12">
           <span class="pull-left h4 text-success">
               <img src="{% static 'images/goodlyf1.png' %}" alt="pic-cleaning" height="33" width="250" />
           </span>
           <a href="{% url 'home' %}"><i class="glyphicon glyphicon-home"></i>&nbsp;&nbsp;Home</a>&nbsp;&nbsp;|&nbsp;&nbsp;
           <a href="#quotations">Deals & Quotations</a>
            {% if user.is_authenticated %}
            <span></span>
            {% else %}
            &nbsp;&nbsp;|&nbsp;&nbsp;
           <i class="glyphicon glyphicon-phone"></i>&nbsp;&nbsp;+254 724 230 064
            {% endif %}
            {% if user.is_authenticated %}
            <span></span>
            {% else %}
            &nbsp;&nbsp;|&nbsp;&nbsp;
           <a href="{% url 'booking' %}" class="btn btn-primary" title="Book now!">Book online</a>
            {% endif %}

           {% if user.is_authenticated %}
            <span class="text-success pull-right">
               <i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp; {{ user.username|capfirst }}&nbsp;&nbsp;

            <a href="{% url 'logout' %}" >logout</a>
            {% else %}
            <a href="{% url 'login' %}" class="pull-right">login</a>

            </span>
            {% endif %}
        </div>
    </div>
</div>
</nav>
{% if user.is_authenticated %}
<div class="container-fluid">
    <div class="row">
        <div class="user-menu col-xs-12 row-centered">

            {% if user.is_superuser %}
            <a href="{% url 'incoming_jobs' %}">In-Tray</a> &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{% url 'create_handyman' %}">Register Handyman</a> &nbsp;&nbsp;&nbsp;&nbsp;

            <a href="{% url 'create_staff' %}">Register Staff</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{% url 'worker_profile' %}">Workers</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{% url 'dashboard' %}">Dashboard</a>&nbsp;&nbsp;&nbsp;&nbsp;
            {% endif %}
            {% if user.is_staff %}
            <a href="{% url 'my_jobs' %}">My Jobs</a>&nbsp;&nbsp;&nbsp;

            <a href="{% url 'cancelled_jobs' %}">Cancelled Jobs</a>&nbsp;&nbsp;&nbsp;
            <a href="{% url 'complete_jobs' %}">Complete Jobs</a>&nbsp;&nbsp;&nbsp;

            {% endif %}

        </div>
    </div>
</div>
{% endif %}
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-12" id="services-banner">
           <div class="col-sm-2 cleaning-img" id="pic-cleaning">
               <img src="{% static 'images/cleaning.png' %}" alt="pic-cleaning" height="300" width="100%" />
               <div class="col-sm-2 cleaning-border">Cleaning</div>

           </div>
           <div class="col-sm-2 removal-img" id="pic-removal" title="removals">
               <img src="{% static 'images/r_removal.png' %}" alt="pic-r_removals" height="300" width="100%" />
               <div class="col-sm-2 removal-border">Removals</div>
           </div>
           <div class="col-sm-2 pet-img" id="pic-pet_care" title="pet care">
               <img src="{% static 'images/pet.png' %}" alt="pic-pet_care" height="300" width="100%" />
               <div class="col-sm-2 pet-border">PetCare</div>
           </div>
           <div class="col-sm-2 gardening-img" id="pic-gardening">
               <img src="{% static 'images/gardening.png' %}" alt="pic-gardening" height="300" width="100%" />
               <div class="col-sm-2 gardening-border">Gardening</div>
           </div>
           <div class="col-sm-2 handyman-img" id="pic-handyman">
               <img src="{% static 'images/handyman.png' %}" alt="pic-handyman" height="300" width="100%" />
               <div class="col-sm-2 handyman-border">Handyman</div>
           </div>
           <div class="col-sm-2 pest-img" id="pic-pest_control">
               <img src="{% static 'images/pest.png' %}" alt="pic-pest_control" height="300" width="100%" />
               <div class="col-sm-2 pest-border">PestControl</div>
           </div>
        </div>
    </div><br><br>
</div>
</div><br>
{% if user.is_authenticated %}
<span></span>
{% else %}
<div class="container" id="booking-1">
    <div class="row-centered">
        <a href="{% url 'booking' %}">
        <span class="jumbotron pricing-td ">
          <span class="h4"> Book Now ....it's just 30 seconds!</span>
        </span>
        </a>
    </div>
</div>
<br>
{% endif %}

        <div class="container book-now" id="quotations">
            <div class="col-sm-12 ">
            <ul class="nav nav-tabs" role="tablist">
                <li role="service-quotation" class="active"><a href="#cleaning-quotation " aria-controls="cleaning-quotation" role="tab" data-toggle="tab">Cleaning</a></li>
                <li role="presentation"><a href="#gardening-quotation" aria-controls="gardening-quotation" role="tab" data-toggle="tab">Gardening</a></li>
                <li role="presentation"><a href="#handyman" aria-controls="handyman" role="tab" data-toggle="tab">Handyman</a></li>
                <li role="presentation"><a href="#installations" aria-controls="installations" role="tab" data-toggle="tab">Installations</a></li>
                <li role="presentation"><a href="#painting" aria-controls="painting" role="tab" data-toggle="tab">Painting</a></li>
                <li role="presentation"><a href="#pet-care" aria-controls="pet-care" role="tab" data-toggle="tab">Pet-care</a></li>
                <li role="presentation"><a href="#plumbing" aria-controls="plumbing" role="tab" data-toggle="tab">Plumbing</a></li>
                <li role="presentation"><a href="#transport" aria-controls="transport" role="tab" data-toggle="tab">Transport</a></li>

            </ul>

            <!--tabs content-->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="cleaning-quotation">
                    {% if cleaning_services %}
                    <table class="table table-hover table-striped table-responsive table-condensed">
                       {% for cleaning_service in cleaning_services %}
                        <tr>
                            <td>{{ cleaning_service.name }}</td><td class="pricing-td"><span class="h5">Ksh.</span>&nbsp;&nbsp; {{ cleaning_service.price }}</td>
                        </tr>
                       {% endfor %}
                    </table>
                    {% else %}
                    <h4>Deals coming soon</h4>
                    {% endif %}
                </div>

                <div role="tabpanel" class="tab-pane" id="gardening-quotation">
                    {% if gardening_services %}
                    <table class="table table-hover table-striped table-responsive table-condensed">
                       {% for gardening_service in gardening_services %}
                        <tr>
                            <td>{{ gardening_service.name }}</td><td class="pricing-td"><span class="h5">Ksh.</span>&nbsp;&nbsp;{{ gardening_service.price }}</td>
                        </tr>
                       {% endfor %}
                    </table>
                    {% else %}
                    <h4>Deals coming soon</h4>
                    {% endif %}
                </div>
                <div role="tabpanel" class="tab-pane" id="handyman">
                    {% if handyman_services %}
                    <table class="table table-hover table-striped table-responsive table-condensed">
                       {% for handyman_service in handyman_services %}
                        <tr>
                            <td>{{ handyman_service.name }}</td><td class="pricing-td"><span class="h5">Ksh.</span>&nbsp;&nbsp;{{ handyman_service.price }}</td>
                        </tr>
                       {% endfor %}
                    </table>
                    {% else %}
                    <h4>Deals coming soon</h4>
                    {% endif %}
                </div>
                <div role="tabpanel" class="tab-pane" id="installations">
                    {% if installation_services %}
                     <table class="table table-hover table-striped table-responsive table-condensed">
                       {% for installation_service in installation_services %}
                        <tr>
                            <td>{{ installation_service.name }}</td><td class="pricing-td"><span class="h5">Ksh.</span>&nbsp;&nbsp;{{ installation_service.price }}</td>
                        </tr>
                       {% endfor %}
                    </table>
                    {% else %}
                    <h4>Deals coming soon</h4>
                    {% endif %}
                </div>
                <div role="tabpanel" class="tab-pane" id="painting">
                    {% if painting_services %}
                    <table class="table table-hover table-striped table-responsive table-condensed">
                       {% for painting_service in painting_services %}
                        <tr>
                            <td>{{ painting_service.name }}</td><td class="pricing-td"><span class="h5">Ksh.</span>&nbsp;&nbsp;{{ painting_service.price }}</td>
                        </tr>
                       {% endfor %}
                    </table>
                    {% else %}
                    <h4>Deals coming soon</h4>
                    {% endif %}
                </div>
                <div role="tabpanel" class="tab-pane" id="pet-care">
                    {% if petcare_services %}
                    <table class="table table-hover table-striped table-responsive table-condensed">
                       {% for petcare_service in petcare_services %}
                        <tr>
                            <td>{{ petcare_service.name }}</td><td class="pricing-td"><span class="h5">Ksh.</span>&nbsp;&nbsp;{{ petcare_service.price }}</td>
                        </tr>
                       {% endfor %}
                    </table>
                    {% else %}
                    <h4>Deals coming soon</h4>
                    {% endif %}
                </div>
                <div role="tabpanel" class="tab-pane" id="plumbing">
                    {% if plumbing_services %}
                    <table class="table table-hover table-striped table-responsive table-condensed">
                       {% for plumbing_service in plumbing_services %}
                        <tr>
                            <td>{{ plumbing_service.name }}</td><td class="pricing-td"><span class="h5">Ksh.</span>&nbsp;&nbsp;{{ plumbing_service.price }}</td>
                        </tr>
                       {% endfor %}
                    </table>
                    {% else %}
                    <h4>Deals coming soon</h4>
                    {% endif %}
                </div>
                <div role="tabpanel" class="tab-pane" id="transport">
                    {% if transport_services %}
                    <table class="table table-hover table-striped table-responsive table-condensed">
                       {% for transport_service in transport_services %}
                        <tr>
                            <td>{{ transport_service.name }}</td><td class="pricing-td"><span class="h5">Ksh.</span>&nbsp;&nbsp;{{ transport_service.price }}</td>
                        </tr>
                       {% endfor %}
                    </table>
                    {% else %}
                    <h4>Deals coming soon</h4>
                    {% endif %}
                </div>

            </div>

        </div>
        </div>
<!--<div class="container" id="booking-2">-->
    <!--<div class="row-centered">-->
        <!--<a href="{% url 'booking' %}">-->
        <!--<span class="jumbotron pricing-td ">-->
          <!--<span class="h4"> Book Now ....it's just 30 seconds!</span>-->
        <!--</span>-->
        <!--</a>-->
    <!--</div>-->
<!--</div>-->
<hr>
<div class="container navbar-fixed-bottom">
    <div class="row footer">
        &copy steven kyalo 2015
    </div>
</div>
{% endblock content %}