{% if workers.count > 0 %}

{% for worker in workers %}
<ul class="text-success"><a href="{% url 'worker_details' worker.id %}">{{ worker.user.first_name|capfirst }}</a> </ul>
{% endfor %}
{% else %}
<span class="text-warning">No worker with the name you typed</span>
{% endif %}