{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<nav class="navbar navbar-default navbar-fixed-top">
<div class="container">
    <div class="row row-centered">
        <div class="col-xs-12">
           <span class="pull-left h4 text-success">
               <img src="{% static 'images/goodlyf1.png' %}" alt="pic-cleaning" height="33" width="250" />
           </span>
           <a href="{% url 'home' %}"><i class="glyphicon glyphicon-home"></i>&nbsp;&nbsp;Home</a>
            &nbsp;&nbsp;|&nbsp;&nbsp;
           <i class="glyphicon glyphicon-phone"></i>&nbsp;&nbsp;+254 724 230 064
           <a href="{% url 'login' %}" class="pull-right">login</a>
        </div>
    </div>
</div>
</nav>

<div class="container booking-accordion">
    <div class="row">
        <div class="col-sm-12 row-centered ">
            <div class="text-info">
            {% if messages  %}
            {% for message in messages %}
            <ul class="text-warning">{% if message.tags %}{% endif %}&nbsp;&nbsp;&nbsp; {{ message }}</ul>
            {% endfor %}
            {% endif %}
            </div>
                        <!--accordion-->
            <div class="panel-group accordion-group " id="accordion" role="tablist" aria-multiselectable="true">
                  <div class="panel panel-default ">
                      <!--panel heading for step one.-->
                    <div class="panel-heading" role="tab" id="headingOne">
                      <h4 class="panel-title ">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                         <h5 class="btn btn-lg pricing-td" style="width: 100%">Choose a service</h5>
                        </a>
                      </h4>
                    </div>
                      <!--end panel heading for step one-->

                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                      <!--step 1 body-->
                        <div class="panel-body">

                          {% if job_form.errors %}
                                <div class="text-danger">Please correct the error{{ job_form.errors|pluralize }} below.</div>
                          {% endif %}


          <form  class="form-horizontal upload-form" role="form"  id="booking" method="post" action="/goodlyf/booking/" enctype="multipart/form-data">

              {% csrf_token %}
              <div class="row">
                  <div class="col-sm-6">

                <div class="fieldWrapper">
                    {{ job_form.service_category.label_tag}}
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    {{ job_form.service_category }}
                </div>
                      </div>
                  <div class="col-sm-6">
                <div class="fieldWrapper">
                    {{ job_form.service_name.label_tag}}
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    {{ job_form.service_name }}
                </div>
                  </div>
              </div>
           </div>
        </div>


                <!--end step 1 body-->

                      <!--step 2 heading -->
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                      <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          <h5 class="btn btn-lg pricing-td" style="width: 100%">When do you want us to start the job?</h5>
                        </a>
                      </h4>
                    </div>
                      <!--end step 2 heading-->

                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <!--step 2 body-->
                      <div class="panel-body">


                <div class="fieldWrapper">
                    {{ job_form.date_job_starts.errors }}
                    {{ job_form.date_job_starts.label_tag}}

                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="date" name="date_job_starts" required="required" placeholder="mm/dd/yyyy">
                </div>

                          <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                <button class="btn btn-info" type="submit" class="btn btn-default">Submit</button>
                                </div>
                          </div>
                      </form>
                    </div>
                  </div>
                </div>

            </div>

            </div>
            </div>
            </div></div>

<div class="container navbar-fixed-bottom">
     <hr>
    <div class="row footer">
        &copy steven kyalo 2015
    </div>
</div>

{% endblock content %}