{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<nav class="navbar navbar-default navbar-fixed-top">
<div class="container">
    <div class="row row-centered">
        <div class="col-xs-12">
           <span class="pull-left h4 text-success">
               <img src="{% static 'images/goodlyf1.png' %}" alt="pic-cleaning" height="33" width="250" />
           </span>
           <a href="{% url 'home' %}"><i class="glyphicon glyphicon-home"></i>&nbsp;&nbsp;Home</a>
            &nbsp;&nbsp;|&nbsp;&nbsp;
           <i class="glyphicon glyphicon-phone"></i>&nbsp;&nbsp;+254 724 230 064&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="#order-summary" class="btn btn-lg pricing-td">Order summary</a>
           <a href="{% url 'login' %}" class="pull-right">login</a>
        </div>
    </div>
</div>
</nav>

<br>
<div class="container">
    <div class="row">
        <div class="text-info">
            {% if messages  %}
            {% for message in messages %}
            <ul>{% if message.tags %}{% endif %}&nbsp;&nbsp;&nbsp; {{ message }}</ul>
            {% endfor %}
            {% endif %}
            </div>
        <div class="row">
                <h5 class="btn btn-lg pricing-td" style="width: 100%">Kindly, fill the form below so that we can get your contact information</h5>
                </div>
        <br>
        <div class="row-centered">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-7">
                        <form class="form-horizontal" role="form" action="{% url 'client' order.id %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                {{ booking_client_form.name.label_tag }}
                                <div class="input-group">
                                    {% load widget_tweaks %}
                                    {{ booking_client_form.name|add_class:"form-control" }}
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                                </div>
                            </div>
                            <div class="form-group">
                                {{ booking_client_form.phone_number.label_tag }}
                                <div class="input-group">
                                    {% load widget_tweaks %}
                                    {{ booking_client_form.phone_number|add_class:"form-control" }}
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                                </div>
                            </div>
                            <div class="form-group">
                                {{ booking_client_form.email.label_tag }}
                                <div class="input-group">
                                    {% load widget_tweaks %}
                                    {{ booking_client_form.email|add_class:"form-control" }}
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                                </div>
                            </div>
                            <div class="form-group">
                                {{ booking_client_form.area.label_tag }}
                                <div class="input-group">
                                    {% load widget_tweaks %}
                                    {{ booking_client_form.area|add_class:"form-control" }}
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                                </div>
                            </div>
                            <div class="form-group">
                                {{ booking_client_form.street.label_tag }}
                                <div class="input-group">
                                    {% load widget_tweaks %}
                                    {{ booking_client_form.street|add_class:"form-control" }}
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                                </div>
                            </div>
                            <div class="form-group">
                                {{ booking_client_form.estate.label_tag }}
                                <div class="input-group">
                                    {% load widget_tweaks %}
                                    {{ booking_client_form.estate|add_class:"form-control" }}
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                                </div>
                            </div>
                            <div class="form-group">
                                {{ booking_client_form.house_number.label_tag }}
                                <div class="input-group">
                                    {% load widget_tweaks %}
                                    {{ booking_client_form.house_number|add_class:"form-control" }}
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                                </div>
                                <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-info pull-right">
                            </div>

                        </form>
                        </div>
                        <div class="col-sm-5">
                            {% if booking_client_form.errors %}

                            <div class="alert alert-danger">
                                <span class="glyphicon glyphicon-remove"></span><strong> Please correct the error{{ booking_client_form.errors|pluralize }} below.</strong>
                            </div>

                            <table class="table table-condensed table-responsive pricing-td">
                                {% if booking_client_form.name.errors %}
                                <tr>
                                    <td>
                                        {% for error in booking_client_form.name.errors %}
                                       <ul>{{ error }}</ul>
                                        {% endfor %}
                                    </td>
                                </tr>
                                {% endif %}
                                {% if booking_client_form.phone_number.errors %}
                                <tr>
                                    <td>
                                        {% for error in booking_client_form.phone_number.errors %}
                                       <ul>{{ error }}</ul>
                                        {% endfor %}
                                    </td>
                                </tr>
                                {% endif %}
                                {% if booking_client_form.email.errors %}
                                <tr>
                                    <td>
                                        {% for error in booking_client_form.email.errors %}
                                       <ul>{{ error }}</ul>
                                        {% endfor %}
                                    </td>
                                </tr>
                                {% endif %}
                                {% if booking_client_form.area.errors %}
                                <tr>
                                    <td>
                                        {% for error in booking_client_form.area.errors %}
                                       <ul>{{ error }}</ul>
                                        {% endfor %}
                                    </td>
                                </tr>
                                {% endif %}
                                {% if booking_client_form.street.errors %}
                                <tr>
                                    <td>
                                        {% for error in booking_client_form.street.errors %}
                                       <ul>{{ error }}</ul>
                                        {% endfor %}
                                    </td>
                                </tr>
                                {% endif %}
                                {% if booking_client_form.estate.errors %}
                                <tr>
                                    <td>
                                        {% for error in booking_client_form.estate.errors %}
                                       <ul>{{ error }}</ul>
                                        {% endfor %}
                                    </td>
                                </tr>
                                {% endif %}
                                {% if booking_client_form.house_number.errors %}
                                <tr>
                                    <td>
                                        {% for error in booking_client_form.house_number.errors %}
                                       <ul>{{ error }}</ul>
                                        {% endfor %}
                                    </td>
                                </tr>
                                {% endif %}
                            </table>
                            {% else %}
                            <div class="alert alert-success">
                                <strong><span class="glyphicon glyphicon-ok"></span> Final step</strong>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>
    <br>
    <div class="container" id="order-summary">
        <div class="row">
            <div class="col-sm-12 booking-client">
                <br>
                <table>
                    <thead>
                    <span class="h4"> Order Summary</span>
                    </thead>
                </table><br>
             <div class="col-sm-6">
                 <table class="table table-condensed table-hover">
                     <tr><th>{{ order.service_category }}</th></tr>
                     <tr><th>{{ order.service_name }}</th></tr>
                 </table>
             </div>
             <div class="col-sm-6">
                 <table class="table table-condensed table-hover">
                     <tr>
                         <th>Budget:</th><td class="pricing-td">{{ service_budget.price }}</td>
                     </tr>
                 </table>
             </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="container navbar-fixed-bottom">
     <hr>
    <div class="row footer">
        &copy steven kyalo 2015
    </div>
</div>
{% endblock content %}