{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<nav class="navbar navbar-default navbar-fixed-top">
<div class="container">
    <div class="row row-centered">
        <div class="col-xs-12">
           <span class="pull-left h4 text-success">
               <img src="{% static 'images/goodlyf1.png' %}" alt="pic-cleaning" height="33" width="250" />
           </span>
           <a href="{% url 'home' %}"><i class="glyphicon glyphicon-home"></i>&nbsp;&nbsp;Home</a>
            {% if user.is_authenticated %}
            <span></span>
            {% else %}
            &nbsp;&nbsp;|&nbsp;&nbsp;
           <a href="{% url 'booking' %}" class="btn btn-primary" title="Book now!">Book online</a>
            {% endif %}

           {% if user.is_authenticated %}
            <span class="text-success pull-right">
               <i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp; {{ user.username|capfirst }}&nbsp;&nbsp;

            <a href="{% url 'logout' %}">logout</a>
            {% else %}
            <a href="{% url 'login' %}" class="pull-right">login</a>

            </span>
            {% endif %}
        </div>
    </div>
</div>
</nav>
<div class="container">

        <div class="col-sm-12 ">
            <h5 class="btn btn-lg pricing-td" style="width: 100%">Completed orders</h5>
            <h4></h4>
            {% if jobs %}
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th data-field="id" class="col-xs-2">Job Name</th>
                    <th data-field="price" class="col-xs-2"><i class="glyphicon glyphicon-star"></i>Supervisor</th>
                    <th data-field="price" class="col-xs-2"><i class="glyphicon glyphicon-star"></i>Date Job Posted</th>
                    <th data-field="price" class="col-xs-2"><i class="glyphicon glyphicon-star"></i>Start Date</th>
                    <th data-field="name" class="col-xs-2">End Date</th>
                    <th class="col-xs-2">Status&nbsp;|&nbsp;Action</th>
                </tr>

                </thead>
                {% for job in jobs %}
                <tr>
                    <td>
                        <a href="{% url 'job' job.id %}">{{ job.job.service_name|capfirst }}</a>
                    </td>
                    <td>
                        {{ job.assigned_to }}
                    </td>
                    <td>
                        {{ job.job.date_posted }}
                    </td>

                    <td>
                        {{ job.job.date_job_starts }}
                    </td>
                    <td>
                        {{ job.date_job_ends }}
                    </td>
                    <td>
                        <a href="{% url 'complete_job_delete' job.id %}" class="text-danger">Delete</a>&nbsp;|&nbsp;<a href="#">SMS Client</a>

                    </td>

                </tr>
                {% endfor %}
            </table>


            {% else %}
            <h2>No complete jobs currently</h2>
            {% endif %}
        </div>


    </div>
</div>
<div class="container navbar-fixed-bottom">
     <hr>
    <div class="row footer">
        &copy steven kyalo 2015
    </div>
</div>
{% endblock content %}