{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<nav class="navbar navbar-default navbar-fixed-top">
<div class="container">
    <div class="row row-centered">
        <div class="col-xs-12">
           <span class="pull-left h4 text-success">
               <img src="{% static 'images/goodlyf1.png' %}" alt="pic-cleaning" height="33" width="250" />
           </span>
           <a href="{% url 'home' %}"><i class="glyphicon glyphicon-home"></i>&nbsp;&nbsp;Home</a>&nbsp;&nbsp;|&nbsp;&nbsp;
           <a href="{% url 'dashboard' %}">Dashboard</a>
            {% if user.is_authenticated %}
            <span></span>
            {% else %}
            &nbsp;&nbsp;|&nbsp;&nbsp;
           <a href="{% url 'booking' %}" class="btn btn-primary" title="Book now!">Book online</a>
            {% endif %}

           {% if user.is_authenticated %}
            <span class="text-success pull-right">
               <i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp; {{ user.username|capfirst }}&nbsp;&nbsp;

            <a href="{% url 'logout' %}" >logout</a>
            {% else %}
            <a href="{% url 'login' %}" class="pull-right">login</a>

            </span>
            {% endif %}
        </div>
    </div>
</div>
</nav>
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<span class="h4 text-warning">Disclaimer &nbsp; </span>||&nbsp;
			<span class="h5 text-info">Worker's residence and next of kin info can only be added from the admin
                panel for physical verification</span>
		</div>
	</div>
</div>
<br>
<div class="container">
    <div class="row">
         <div class="text-info">
            {% if messages  %}
            {% for message in messages %}
            <ul class="alert alert-success"><span class="glyphicon glyphicon-ok">&nbsp;&nbsp;{% if message.tags %}{% endif %}&nbsp;&nbsp;&nbsp; {{ message }}</ul>
            {% endfor %}
            {% endif %}
         </div>
    <div class="row">
        <div class="col-sm-12 ">
            <form action="/goodlyf/create_staff/" method="post" name="Login_Form" enctype="multipart/form-data">
            <div class="col-sm-7">
                <table class="table table-condensed table-striped table-responsive">
                    {% csrf_token %}
                    {{ user_form.as_table }}
                    {{ worker_form.as_table }}

                </table>
                <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-info pull-right">
            </form>
            </div>
            <div class="col-sm-5">
                <div class="jumbotron pricing-td"><span class="h5">The teams has
                </span>&nbsp;&nbsp;<span class="h4 text-sucess">{{ workers_count }}</span>&nbsp;&nbsp; staff
                    {% if workers_count > 1 %}members {% else %}member{% endif %}</div>
                 {% if password_error %}
                 <div class="row">
                    <span class="alert alert-danger">
                        {{ password_error }}
                    </span>
                </div>
                {% endif %}
                {% if worker_error %}
                <div class="row">
                    <span class="alert alert-danger">
                        {{ worker_error }}
                    </span>
                </div>
                {% endif %}

            </div>
        </div>
    </div>

</div></div></div>
<hr>
<div class="container navbar-fixed-bottom">
     <hr>
    <div class="row footer">
        &copy steven kyalo 2015
    </div>
</div>
{% endblock content %}