{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}
<script>
$(document).ready(function() {

		$('#calendar').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay'
			},

			editable: true,
			eventLimit: true, // allow "more" link when too many events
			events: [
				{
					title: 'All Day Event',
					start: '2015-02-01'
				},
				{
					title: 'Long Event',
					start: '2015-02-07',
					end: '2015-02-10'
				},
				{
					id: 999,
					title: 'Repeating Event',
					start: '2015-02-09T16:00:00'
				},
				{
					id: 999,
					title: 'Repeating Event',
					start: '2015-02-16T16:00:00'
				},
				{
					title: 'Conference',
					start: '2015-02-11',
					end: '2015-02-13'
				},
				{
					title: 'Meeting',
					start: '2015-02-12T10:30:00',
					end: '2015-02-12T12:30:00'
				},
				{
					title: 'Lunch',
					start: '2015-02-12T12:00:00'
				},
				{
					title: 'Meeting',
					start: '2015-02-12T14:30:00'
				},
				{
					title: 'Happy Hour',
					start: '2015-02-12T17:30:00'
				},
				{
					title: 'Dinner',
					start: '2015-02-12T20:00:00'
				},
				{
					title: 'Birthday Party',
					start: '2015-02-13T07:00:00'
				},
				{
					title: 'Click for Google',
					url: 'http://google.com/',
					start: '2015-02-28'
				}
			]
		});

	});

</script>

<nav class="navbar navbar-default navbar-fixed-top">
<div class="container">
    <div class="row row-centered">
        <div class="col-xs-12">
           <span class="pull-left h4 text-success">
               <img src="{% static 'images/goodlyf1.png' %}" alt="pic-cleaning" height="33" width="250" />
           </span>
           <a href="{% url 'home' %}"><i class="glyphicon glyphicon-home"></i>&nbsp;&nbsp;Home</a>
            {% if user.is_authenticated %}
            <span></span>
            {% else %}
            &nbsp;&nbsp;|&nbsp;&nbsp;
           <a href="{% url 'booking' %}" class="btn btn-primary" title="Book now!">Book online</a>
            {% endif %}

           {% if user.is_authenticated %}
            <span class="text-success pull-right">
               <i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp; {{ user.username|capfirst }}&nbsp;&nbsp;

            <a href="{% url 'logout' %}">logout</a>
            {% else %}
            <a href="{% url 'login' %}" class="pull-right">login</a>

            </span>
            {% endif %}
        </div>
    </div>
</div>
</nav>
<div class="container">
   <div class="row">
       <div class="col-md-12">
            <span class="h4 jumbotron col-sm-12 login-bg"><span class="text-success"> Admin dashboard</span></span>
       </div>
   </div>
<div class="row">
    <div class="col-md-12">
        <div class=" col-md-4">
            <h5 class="btn btn-lg pricing-td" style="width: 100%">Services summary</h5>
            <div class="jumbotron col-md-12">
                <table class="table table-hover">
            <tr class="h5 login-bg"><td >Services offered</td><td class="avg">{{ service_count }}</td></tr>
            <tr class="h5 login-bg"><td>Job received</td><td class="avg">{{ job_count }}</td></tr>
            <tr class="h5 login-bg"><td>Job assigned</td><td class="avg">{{ assignment }}</td></tr>
            <tr class="h5 login-bg"><td>Job completed</td><td class="avg">{{ complete }}</td></tr>
            <tr class="h5 login-bg"><td>Job cancelled</td><td class="avg">{{ cancelled }}</td></tr>
                </table>
            </div>

        </div>
        <div class="col-md-4">
            <h5 class="btn btn-lg pricing-td" style="width: 100%">Manpower summary</h5>
            <div class="jumbotron col-md-12">
                {% if supervisors %}
                <table class="table table-hover">
                {% for supervisor in supervisors %}
               <tr><td class="h5 login-bg">{{ supervisor.id }}&nbsp;&nbsp;&nbsp;{{ supervisor.user.first_name|capfirst }}&nbsp;&nbsp;&nbsp;{{ supervisor.user.last_name|capfirst }}</td></tr>
                {% endfor %}
                </table>
                <h5>Workers summary</h5>
                <table class="table table-hover">
            <tr class="h5 login-bg"><td>Handymen</td><td class="avg">{{ handymen_count }}</td></tr>
            <tr class="h5 login-bg"><td>Supervisors</td><td class="avg">{{ supervisors_count }}</td></tr>
            <tr class="h5 login-bg"><td>Staff</td><td class="avg">{{ staff_count }}</td></tr>
                </table>
                {% endif %}
            </div>
        </div>
        <div class="col-md-4">
            <h5 class="btn btn-lg pricing-td" style="width: 100%">Calendar</h5>
            <div id='calendar'></div>
        </div>
    </div>
</div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
<h5 class="btn btn-lg login-bg" style="width: 100%">Job assignment summary</h5>
    <table class="table table-striped table-responsive">

        <th>Supervisor</th>
        <th>Jobs has</th>
        {% for sj  in supervisor_job   %}
        <tr>
            <td>{{ sj.assigned_to }}</td><td>{{ sj.the_count }}</td>
        </tr>
        {% endfor %}
    </table>

        </div>
    </div>
</div>
<hr>
<div class="container navbar-fixed-bottom">
     <hr>
    <div class="row footer">
        &copy steven kyalo 2015
    </div>
</div>
<style>
.avg {
    font-size:30px;
    padding-top: 20px;
    color:#5CB85C;
}
    .services-summary{
    width: 200px;

    border-radius: 3px;


    padding: 3px 4px;

    }
</style>

{% endblock content %}