{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<nav class="navbar navbar-default navbar-fixed-top">
<div class="container">
    <div class="row row-centered">
        <div class="col-xs-12">
           <span class="pull-left h4 text-success">
               <img src="{% static 'images/goodlyf1.png' %}" alt="pic-cleaning" height="33" width="250" />
           </span>
           <a href="{% url 'home' %}"><i class="glyphicon glyphicon-home"></i>&nbsp;&nbsp;Home</a>
            <a href="{% url 'my_jobs' %}">My jobs</a>
           {% if user.is_authenticated %}
            <span class="text-success pull-right">
               <i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp; {{ user.username|capfirst }}&nbsp;&nbsp;

            <a href="{% url 'logout' %}">logout</a>
            {% else %}
            <a href="{% url 'login' %}" class="pull-right">login</a>

            </span>
            {% endif %}
        </div>
    </div>
</div>
</nav>
<div class="container">
    <div class="row">
        <h5 class="btn btn-lg pricing-td" style="width: 100%">Edit job status</h5>
    </div>
</div>
<br>
<div class="container">
    <div class="col-md-offset-2 col-lg-8 col-lg-offset-3 col-lg-6">
        <table class="table table-condensed table-responsive" >
            <form action="" method="post">
        {% csrf_token %}
         {{ form.non_field_errors }}
       <tr>
           <td> {{ form.assigned_to.label_tag}}</td>
           <td> {{ form.assigned_to }}</td>
       </tr>

        <tr>
            <td>{{ form.date_job_ends.label_tag}}</td>
            <td>{{ form.date_job_ends }}</td>
        </tr>
         <tr>
             <td>{{ form.state.label_tag}}</td>
             <td>{{ form.state }}</td>

         </tr>
        <tr>
            <td>{{ form.push_state.label_tag}}</td>
            <td>{{ form.push_state }}</td>
        </tr>


            <tr><td>
                <span class="pull-right">
          <input type="submit" value="Submit" />
          <a href="{% url 'my_jobs' %}"><input type="button" value="cancel" /></a>
        </span>
            </td></tr>
                </form>
        </table>

    </div>
</div>
<br>
<div class="container navbar-fixed-bottom">
     <hr>
    <div class="row footer">
        &copy steven kyalo 2015
    </div>
</div>
{% endblock %}