{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-xs-12 row-centered">
            {% if user.is_authenticated %}
            <span><h5>{{ user.username }} </h5></span>
            {% endif %}
            <a href="{% url 'login' %}">login</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{% url 'register' %}">Register</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {% if user.is_superuser %}
            <a href="{% url 'logout' %}">Logout</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{% url 'create_handyman' %}">Register Handyman</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{% url 'create_staff' %}">Register Staff</a>
            {% endif %}
            {% if user.is_staff %}
            <a href="{% url 'logout' %}">Logout</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{% url 'create_handyman' %}">Register Handyman</a>
            {% endif %}







        </div>
    </div>
</div>
{% endblock content %}