{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<nav class="navbar navbar-default navbar-fixed-top">
<div class="container">
    <div class="row row-centered">
        <div class="col-xs-12">
           <span class="pull-left h4 text-success">
               <img src="{% static 'images/goodlyf1.png' %}" alt="pic-cleaning" height="33" width="250" />
           </span>
           <a href="{% url 'home' %}"><i class="glyphicon glyphicon-home"></i>&nbsp;&nbsp;Home</a>
            {% if user.is_authenticated %}
            <span></span>
            {% else %}
            &nbsp;&nbsp;|&nbsp;&nbsp;
           <a href="{% url 'booking' %}" class="btn btn-primary" title="Book now!">Book online</a>
            {% endif %}

           {% if user.is_authenticated %}
            <span class="text-success pull-right">
               <i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp; {{ user.username|capfirst }}&nbsp;&nbsp;

            <a href="{% url 'logout' %}">logout</a>
            {% else %}
            <a href="{% url 'login' %}" class="pull-right">login</a>

            </span>
            {% endif %}
        </div>
    </div>
</div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h5 class="btn btn-lg pricing-td" style="width: 100%">Incoming Jobs</h5>
        </div>
    </div>
</div>
<br>
 <div class="col-sm-12" id="incoming-jobs">
            <div class="container">
                <div class="row row-centered">
                    <table class="table table-striped table-hover col-xs-12" >
                       <thead>
                        <tr>
                            <th data-field="id" class="col-xs-3">Date Posted</th>
                            <th data-field="name" class="col-xs-3">Service Name</th>
                            <th data-field="price" class="col-xs-3"><i class="glyphicon glyphicon-star"></i>&nbsp;&nbsp;Start Date</th>
                            <th data-field="price" class="col-xs-3">Status</th>
                        </tr>
                        </thead>
                        {% for job in jobs_by_date %}
                        <tr>
                            <td class="col-xs-3">
                                <a href="{% url 'job' job.id %}">{{ job.date_posted }}</a>

                            </td>
                            <td class="col-xs-3">
                                {{ job.service_name }}
                            </td>

                            <td class="col-xs-3">
                               {{ job.date_job_starts }}
                            </td>
                            <td class="col-xs-3">
                                {% if job.state == 0 %}

                                <span class="text-danger"> {{ job.get_state_display }}</span>
                                {% else %}
                                <span class="text-success"> {{ job.get_state_display }}</span>

                                {% endif %}
                                {% if job.assignment == 0 %}

                                <span class="text-danger"> &nbsp;|&nbsp;{{ job.get_assignment_display }}</span>
                                {% else %}
                                <span class="text-success"> &nbsp;|&nbsp;{{ job.get_assignment_display }}</span>
                                {% endif %}

                            </td>


                        </tr>
                        {% endfor %}


                    </table>
                </div>
            </div>

        </div>
        <!--end quotations-->

<hr>
<div class="container navbar-fixed-bottom">
     <hr>
    <div class="row footer">
        &copy steven kyalo 2015
    </div>
</div>
{% endblock content %}