{% extends 'base.html' %}
{% block content %}
<div class="container">

    <div class="row">

        {% if job.push_state == 1 %}
        <h4>The job has been pushed to the admin for evaluation</h4>

        {% else %}
        {% if job_feedback_form.errors %}
        <div class="text-danger">Please correct the error{{ job_feedback_form.errors|pluralize }} below.</div>
        {% endif %}
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="fieldWrapper">
                {{ job_feedback_form.job.errors}}

            </div>
            

            <div class="fieldWrapper">
                {{ job_feedback_form.comment.errors}}
                {{ job_feedback_form.comment.label_tag}}
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    {{ job_feedback_form.comment }}
            </div>
             <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn-info" type="submit" class="btn btn-default">Push</button>
                </div>
            </div>
            
        </form>
        {% endif %}
    </div>
</div>
{% endblock content %}