{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<nav class="navbar navbar-default navbar-fixed-top">
<div class="container">
    <div class="row row-centered">
        <div class="col-xs-12">
           <span class="pull-left h4 text-success">
               <img src="{% static 'images/goodlyf1.png' %}" alt="pic-cleaning" height="33" width="250" />
           </span>
           <a href="{% url 'home' %}"><i class="glyphicon glyphicon-home"></i>&nbsp;&nbsp;Home</a>
            {% if user.is_authenticated %}
            <span></span>
            {% else %}
            &nbsp;&nbsp;|&nbsp;&nbsp;
           <a href="{% url 'booking' %}" class="btn btn-primary" title="Book now!">Book online</a>
            {% endif %}

           {% if user.is_authenticated %}
            <span class="text-success pull-right">
               <i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp; {{ user.username|capfirst }}&nbsp;&nbsp;

            <a href="{% url 'logout' %}">logout</a>
            {% else %}
            <a href="{% url 'login' %}" class="pull-right">login</a>

            </span>
            {% endif %}
        </div>
    </div>
</div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <h5 class="btn btn-lg pricing-td" style="width: 100%">Order details</h5>
             </div><br>
            <div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
                <table class="table table-condensed table-responsive h4">
                    <tr>
                        <td class="order-details h4">Order category</td><td>{{ order.service_category|capfirst }}</td>
                    </tr>
                    <tr>
                        <td class="order-details h4">Order name</td><td>{{ order.service_name|capfirst }}</td>
                    </tr>
                    <tr>
                        <td class="order-details h4">Order id</td><td>{{ order.id }}</td>
                    </tr>
                    <tr>
                        <td class="order-details h4">Pick day</td><td>{{ order.date_job_starts }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-info">
            {% if messages  %}
            {% for message in messages %}
            <ul>{% if message.tags %}{% endif %}&nbsp;&nbsp;&nbsp; {{ message }}</ul>
            {% endfor %}
            {% endif %}

            </div>
        </div>
        <div class="col-md-12 row-centered"> <span class="h4">Assign this job to a supervisor</span></div><br>
        <div class="col-md-12">
            <div class="container">
            <div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
                <table class="table table-condensed table-responsive">
                    <form class="form-horizontal" role="form" id="assign-job" method="post" action="{% url 'assign' order.id %}"
              enctype="multipart/form-data">
                        {% csrf_token %}

                    <tr>
                        <td>{{ job_assignment_form.assigned_to.label_tag}}</td><td>{{ job_assignment_form.assigned_to }}</td>
                    </tr>
                    <tr>
                        <td>{{ job_assignment_form.date_job_ends.label_tag}}</td><td><input type="date" name="date_job_ends" required="required" placeholder="mm/dd/yyyy"></td>
                    </tr>
                    <tr><td><button class="btn btn-lg pricing-td text-success"  type="submit">Assign</button></td><td><a href="{% url 'incoming_jobs' %}" class="btn btn-lg pricing-td">Back</a></td></tr>
                    </form>
                </table>
            </div>
            </div>
        </div>
    </div>
</div>

<div class="container navbar-fixed-bottom">
     <hr>
    <div class="row footer">
        &copy steven kyalo 2015
    </div>
</div>
{% endblock content %}