{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<nav class="navbar navbar-default navbar-fixed-top">
<div class="container">
    <div class="row row-centered">
        <div class="col-xs-12">
           <span class="pull-left h4 text-success">
               <img src="{% static 'images/goodlyf1.png' %}" alt="pic-cleaning" height="33" width="250" />
           </span>
           <a href="{% url 'home' %}"><i class="glyphicon glyphicon-home"></i>&nbsp;&nbsp;Home</a>
            {% if user.is_authenticated %}
            <span></span>
            {% else %}
            &nbsp;&nbsp;|&nbsp;&nbsp;
           <a href="{% url 'booking' %}" class="btn btn-primary" title="Book now!">Book online</a>
            {% endif %}

           {% if user.is_authenticated %}
            <span class="text-success pull-right">
               <i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp; {{ user.username|capfirst }}&nbsp;&nbsp;

            <a href="{% url 'logout' %}">logout</a>
            {% else %}
            <a href="{% url 'login' %}" class="pull-right">login</a>

            </span>
            {% endif %}
        </div>
    </div>
</div>
</nav>
<div class="container">
    <div class="row row-centered">

        <div class="col-md-12">
            <div class="row">
                <h5 class="btn btn-lg pricing-td" style="width: 100%">Order details</h5>
             </div><br>
            <div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
                <table class="table table-condensed table-responsive h4">
                    <tr>
                        <td class="order-details h4">Order category</td><td>{{ job.service_category }}</td>
                    </tr>
                    <tr>
                        <td class="order-details h4">Order name</td><td>{{ job.service_name }}</td>
                    </tr>
                    <tr>
                        <td class="order-details h4">Order id</td><td>{{ job.id }}</td>
                    </tr>
                </table>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12"> <span class="h4">Client details</span></div>
                {% if client %}
                <div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
                <table class="table table-condensed table-responsive h4">
                    <tr>
                        <td class="order-details h4">Client name</td><td>{{ client.name }}</td>
                    </tr>
                    <tr>
                        <td class="order-details h4">Client phone_number</td><td>{{ client.phone_number }}</td>
                    </tr>
                    <tr>
                        <td class="order-details h4">Client area</td><td>{{ client.area }}</td>
                    </tr>
                    <tr>
                        <td class="order-details h4">Client street</td><td>{{ client.street }}</td>
                    </tr>
                    <tr>
                        <td class="order-details h4">Client estate</td><td>{{ client.estate }}</td>
                    </tr>
                    {% if client.house_number %}
                    <tr>
                        <td class="order-details h4">Client house number</td><td class="pricing-td">{{ client.house_number }}</td>
                    </tr>
                    {% else %}
                    <tr>
                        <td class="order-details h4">Client house number</td><td>Null</td>
                    </tr>
                    {% endif %}
                </table>
            </div>
                {% else %}
                <div class="row">
                <h5 class="btn btn-lg pricing-td" style="width: 100%">No client details attached, please contact sales dept</h5>
                </div>
                {% endif %}
            </div>
        </div>

    </div>
</div>
<br>
{% if user.is_superuser %}
<div class="container">
     <div class="row">
            <div class="col-md-12 row-centered">
                <div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
                    <a href="{% url 'assign' job.id %}" class="btn btn-lg pricing-td">Assign</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="{% url 'incoming_jobs' %}" class="btn btn-lg pricing-td">Back</a>

                </div>
            </div>
        </div>
</div>
{% else %}
<div class="container">
     <div class="row">
            <div class="col-md-12 row-centered">
                <div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">

                    <a href="{% url 'complete_jobs' %}" class="btn btn-lg pricing-td">Back</a>

                </div>
            </div>
        </div>
</div>
{% endif %}
<div class="container navbar-fixed-bottom">
     <hr>
    <div class="row footer">
        &copy steven kyalo 2015
    </div>
</div>
{% endblock content %}