{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<nav class="navbar navbar-default navbar-fixed-top">
<div class="container">
    <div class="row row-centered">
        <div class="col-xs-12">
           <span class="pull-left h4 text-success">
               <img src="{% static 'images/goodlyf1.png' %}" alt="pic-cleaning" height="33" width="250" />
           </span>
           <a href="{% url 'home' %}"><i class="glyphicon glyphicon-home"></i>&nbsp;&nbsp;Home</a>

        </div>
    </div>
</div>
</nav>

<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<span class="h4 text-warning">Disclaimer &nbsp; </span>||&nbsp;
			<span class="h5 text-info">The login platform is available for the staff ONLY.</span>
		</div>
	</div>
</div>

<div class = "container" style="margin-top: 30px">
	<div class="col-sm-12 login-bg">
		<div class="col-sm-4"></div>
		<div class="col-sm-4">
			<div class="login-panel panel panel-default">
				<div class="panel-heading">
					<h1 class="panel-title">Sign In</h1>
				</div>
				<div class="panel-body">
					<form action="/goodlyf/login/" method="post" name="Login_Form">
						{% csrf_token %}
						<fieldset>
                                <div class="form-group">
									<span class="help-block text-danger" id="inactive_account">
                        				{{ is_active_error }}
									</span>
                                    <input class="form-control" placeholder="username" name="username" type="text" required="required" autofocus="autofocus"/>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="pwd" name="password" type="password" value="" required="required" />
                                </div>
								<span class="help-block text-danger" id="invalid_credentials">
                        			{{ invalid_details_error }}
                				</span>
                                <div class="checkbox">
                                    <label>
                                        <input name="remember" type="checkbox" value="Remember Me"/>Remember Login</label>
                                </div>
                                <button type="submit" class="btn btn-sm btn-success">Sign in</button>
                            </fieldset>

					</form>
				</div>
			</div>
		</div>
		<div class="col-sm-4"></div>
	</div>
</div>


<hr>
<div class="container navbar-fixed-bottom">
     <hr>
    <div class="row footer">
        &copy steven kyalo 2015
    </div>
</div>
<style>
    .colored {
        background-color: rgb(210, 210, 210);
    }
</style>
{% endblock content %}