{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<nav class="navbar navbar-default navbar-fixed-top">
<div class="container">
    <div class="row row-centered">
        <div class="col-xs-12">
           <span class="pull-left h4 text-success">
               <img src="{% static 'images/goodlyf1.png' %}" alt="pic-cleaning" height="33" width="250" />
           </span>
           <a href="{% url 'home' %}"><i class="glyphicon glyphicon-home"></i>&nbsp;&nbsp;Home</a>
           {% if user.is_superuser %}
            &nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="{% url 'dashboard' %}">Dashboard</a>
            {% endif %}
            {% if user.is_authenticated %}
            <span></span>
            {% else %}
            &nbsp;&nbsp;|&nbsp;&nbsp;
           <a href="{% url 'booking' %}" class="btn btn-primary" title="Book now!">Book online</a>
            {% endif %}

           {% if user.is_authenticated %}
            <span class="text-success pull-right">
               <i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp; {{ user.username|capfirst }}&nbsp;&nbsp;

            <a href="{% url 'logout' %}">logout</a>
            {% else %}
            <a href="{% url 'login' %}" class="pull-right">login</a>

            </span>
            {% endif %}
        </div>
    </div>
</div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-sm-12 table-responsive">
            <h5 class="btn btn-lg pricing-td" style="width: 100%">My Jobs</h5>
            <h4>Total number of assignments:  &nbsp;&nbsp; <span class="img-circle avg">{{ my_job_count }}</span><span class="pull-right">{{ today }}</span> </h4>
            {% if my_job_list %}
            <table class="table  table-striped table-bordered table-hover no-margin ">
                <thead>
                <tr>
                    <th data-field="id" class="col-xs-2">Job Name</th>
                    <th data-field="price" class="col-xs-2"><i class="glyphicon glyphicon-star"></i>Start Date</th>
                    <th data-field="name" class="col-xs-2">End Date</th>
                    <th class="col-xs-2">Status&nbsp;|&nbsp;Action</th>
                </tr>

                </thead>
                {% for job in my_job_list %}
                <tr>
                    <td>
                        <a href="{% url 'job' job.id %}">{{ job.job.service_name|capfirst }}</a>
                    </td>

                    <td>
                        {{ job.job.date_job_starts }}
                    </td>
                    <td>
                        {{ job.date_job_ends }}
                    </td>
                    <td>
                        {% if job.state == 0 %}
                       <span class="label label label-warning"> {{ job.get_state_display }}</span>
                        {% elif job.state == 1 %}
                        <span class="label label label-info"> {{ job.get_state_display }}</span>
                         {% elif job.state == 2 %}
                        <span class="label label label-success"> {{ job.get_state_display }}</span>
                         {% else %}
                        <span class="label label label-danger"> {{ job.get_state_display }}</span>

                        {% endif %}

                        &nbsp;&nbsp;|&nbsp;&nbsp;
                        <div class="btn-group">
                                <button data-toggle="dropdown" class="btn btn-xs dropdown-toggle" data-original-title="" title="">
                                  Action
                                  <span class="caret">
                                  </span>
                                </button>
                                <ul class="dropdown-menu pull-right">
                                    {% if job.state != 3 %}
                                  <li>
                                    <a class="text-warning" href="{% url 'edit_job' job.id %}">Change</a>
                                  </li>
                                  <li>
                                    <a href="#">Feedback</a>
                                  </li>
                                    {% else %}

                                  <li>
                                    <a href="{% url 'cancelled_job' job.id %}">push to admin</a>
                                  </li>
                                    {% endif  %}
                                </ul>
                        </div>
                    </td>

                </tr>
                {% endfor %}
            </table>


            {% else %}

            <div class="container">
                <div class="row">
                    <div class="jumbotron col-sm-12 login-bg"><span style="color: red ">No jobs assigned to you currently</span></div>
                </div>
            </div>
            {% endif %}
        </div>
        </div>


    </div>
</div>
<br>
<hr>
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<span class="h4 text-warning">Disclaimer &nbsp; </span>||&nbsp;
			<span class="h5 text-danger">
                Your are required to undertake the responsibilities assigned to you with diligence and integrity.
            </span>
		</div>
	</div>
</div>

<div class="container navbar-fixed-bottom">
     <hr>
    <div class="row footer">
        &copy steven kyalo 2015
    </div>
</div>
<style>
    .avg {
    font-size:30px;
    padding-top: 20px;
    color:#5CB85C;
}
</style>
{% endblock content %}