{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<nav class="navbar navbar-default navbar-fixed-top">
<div class="container">
    <div class="row row-centered">
        <div class="col-xs-12">
           <span class="pull-left h4 text-success">
               <img src="{% static 'images/goodlyf1.png' %}" alt="pic-cleaning" height="33" width="250" />
           </span>
           <a href="{% url 'home' %}"><i class="glyphicon glyphicon-home"></i>&nbsp;&nbsp;Home</a>&nbsp;&nbsp;|&nbsp;&nbsp;
           <a href="#quotations">Deals & Quotations</a>
            &nbsp;&nbsp;|&nbsp;&nbsp;
           <a href="#">Contact us</a>
            {% if user.is_authenticated %}
            <span></span>
            {% else %}
            &nbsp;&nbsp;|&nbsp;&nbsp;
           <a href="{% url 'booking' %}" class="btn btn-primary" title="Book now!">Book online</a>
            {% endif %}

           {% if user.is_authenticated %}
            <span class="text-success pull-right">
               <i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp; {{ user.username|capfirst }}&nbsp;&nbsp;

            <a href="{% url 'logout' %}" >logout</a>
            {% else %}
            <a href="{% url 'login' %}" class="pull-right">login</a>

            </span>
            {% endif %}
        </div>
    </div>
</div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">

            <form role='form' id='id_user_form' method="POST" action="/goodlyf/register/" enctype="multipart/form-data">
                <!--display errors-->

                {% if user_form.errors %}
                <div class="text-danger">Please correct the error{{ user_form.errors|pluralize }} below.</div>
                {% for field in user_form.errors %}
                {{ field.error }}
                {% endfor %}
                {% if worker_form.errors %}
                {% for field in worker_form.errors %}
                {{ field.error }}
                {% endfor %}
                {% endif %}
                {% endif %}

                {% if password_error %}
                {{ password_error }}
                {% endif %}

                {% if email_error %}
                {{ email_error }}
                {% endif %}<!--end display errors-->

                {% csrf_token %}

                <!--form fields -->
                <table class="table table-striped table-condensed">

                    {{ user_form.as_table }}
                    {{ worker_form.as_table }}

                </table>


            <input type="submit" value="Submit">
            </form>
        </div>

    </div>
</div>

{% endblock content %}