{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<nav class="navbar navbar-default navbar-fixed-top">
<div class="container">
    <div class="row row-centered">
        <div class="col-xs-12">
           <span class="pull-left h4 text-success">
               <img src="{% static 'images/goodlyf1.png' %}" alt="pic-cleaning" height="33" width="250" />
           </span>
           <a href="{% url 'home' %}"><i class="glyphicon glyphicon-home"></i>&nbsp;&nbsp;Home</a>
            &nbsp;&nbsp;|&nbsp;&nbsp;
           <i class="glyphicon glyphicon-phone"></i>&nbsp;&nbsp;+254 724 230 064
           <a href="{% url 'login' %}" class="pull-right">login</a>
        </div>
    </div>
</div>
</nav>

<div class="container">
    <div class="row">
        <div class="row-centered">
            <div class="jumbotron pricing-td"><h3 class="text-success"> Congratulations, your order  was successful</h3></div>
            <span class="h5 text-info"> Remember that all our services are paid at the completion of a service</span>
            <h5>
                Our operators will contact you shortly on +254 724-230-064. Thank you.
            </h5>
            <h5>Your can explore more in our gallery or <a href="{% url 'booking' %}"> order more</a> </h5>
        </div>
    </div>
</div>
<hr>
<div class="container navbar-fixed-bottom">
     <hr>
    <div class="row footer">
        &copy steven kyalo 2015
    </div>
</div>
{% endblock content %}