{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">

            <form role='form' id='id_worker_residence_form' method="POST" action="{% url 'worker_residence' worker_obj.id %}" enctype="multipart/form-data">
                <!--display errors-->

                {% if worker_residence_form.errors %}
                <div class="text-danger">Please correct the error{{ worker_residence_form.errors|pluralize }} below.</div>
                {% for field in worker_residence_form.errors %}
                {{ field.error }}
                {% endfor %}
                {% if worker_form.errors %}
                {% for field in worker_form.errors %}
                {{ field.error }}
                {% endfor %}
                {% endif %}
                {% endif %}
                {% csrf_token %}

                <!--form fields -->
                <table>

                    {{ worker_residence_form.as_table }}


                </table>


            <input type="submit" value="Submit">
            </form>
        </div>

    </div>
</div>
{% endblock content %}