{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<nav class="navbar navbar-default navbar-fixed-top">
<div class="container">
    <div class="row row-centered">
        <div class="col-xs-12">
           <span class="pull-left h4 text-success">
               <img src="{% static 'images/goodlyf1.png' %}" alt="pic-cleaning" height="33" width="250" />
           </span>
           <a href="{% url 'home' %}"><i class="glyphicon glyphicon-home"></i>&nbsp;&nbsp;Home</a>&nbsp;&nbsp;|&nbsp;&nbsp;
           <a href="{% url 'dashboard' %}">Dashboard</a>
            {% if user.is_authenticated %}
            <span></span>
            {% else %}
            &nbsp;&nbsp;|&nbsp;&nbsp;
           <a href="{% url 'booking' %}" class="btn btn-primary" title="Book now!">Book online</a>
            {% endif %}

           {% if user.is_authenticated %}
            <span class="text-success pull-right">
               <i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp; {{ user.username|capfirst }}&nbsp;&nbsp;

            <a href="{% url 'logout' %}">logout</a>
            {% else %}
            <a href="{% url 'login' %}" class="pull-right">login</a>

            </span>
            {% endif %}
        </div>
    </div>
</div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-offset-2 col-lg-8 col-lg-offset-3 col-lg-6">
        <div id="custom-search-input">
                <div class="input-group">
                    {% csrf_token %}
                    <input type="text" class="form-control input-md" placeholder="type user first name" id="search" name="search" />
                    <span class="input-group-btn">
                        <button class="btn btn-success btn-lg" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>

                </div>

            </div>
            <div class="" id="search-results">

            </div>

         </div>
    </div>
</div><br>
<div class="container">
    <div class="col-sm-12">
        <div class="container">
    <div class="row">
        {% if workers %}
        {% for worker in workers  %}
        <div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6 ">
            <div class="well details ">
                <div class="col-sm-12 ">
                    <div class="col-xs-12 col-sm-8  ">
                        <h2 style="text-decoration:underline;">{{ worker.user.first_name }}&nbsp;&nbsp;{{ worker.user.last_name }}</h2>
                        <p><strong>Category</strong>&nbsp;&nbsp;{{ worker.worker_category }} </p>
                        <p class="text-center skills pull-left"><strong>Details</strong></p>
                        <div class="skillLine"><div class="skill pull-left">{{ worker.national_id }}</div><div class="rating" id="rate1"></div></div>
                        <div class="skillLine"><div class="skill pull-left">{{ worker.phone_number }}</div><div class="rating" id="rate2"></div></div>
                        <div class="skillLine"><div class="skill pull-left">{{ worker.year_of_birth }}</div><div class="rating" id="rate3"></div></div>

                    </div>
                    <div class="col-xs-12 col-sm-4 col-lg-1 text-center ">
                        <figure>
                            <span class="fa fa-file-text-o" style="font-size:50px; padding-top: 20px;"></span>
                            <a data-overlay-trigger href="{% url 'worker_details' worker.id %}" ><img class="img img-circle" src="{{ worker.profile_image.url }}" height="75" width="75" /></a>

                        </figure>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
    </div>


</div>
<hr>
<div class="container navbar-fixed-bottom">
     <hr>
    <div class="row footer">
        &copy steven kyalo 2015
    </div>
</div>
<style>
    body {
    font-family: "Segoe UI", 'sans-serif';
}

.avg {
    font-size:77px;
    padding-top: 20px;
    color:#5CB85C;
}

.details {
    min-height: 355px;
    display: inline-block;
}

.rating {
    padding-left:40px;
}

.skillLine {
    display:inline-block;
    width:100%;
    padding: 3px 4px;
}

.skills {
    text-decoration:underline;
}

div.skill {
    background: #F58723;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    padding: 3px 4px;
    width:132px;
}
</style>
{% endblock content %}